
body {
	background: white;
	color: gray;
	font-family: 'Source Code Pro', monospace;
	font-size: 14px;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

.container {
	min-height: calc(100vh - 50px);
	margin: auto;
	padding: 1.5rem;
}

.page {
	max-width: 700px;
}

a {
    text-decoration: none;
    color: black;
}

nav {
    border-radius: 0;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
}

.card-columns {
	column-gap: 1.5rem;
}

@media (min-width: 576px) {
    .card-columns {
        column-count: 2;
    }
}

@media (min-width: 768px) {
    .card-columns {
        column-count: 3;
    }
}

@media (min-width: 992px) {
    .card-columns {
        column-count: 4;
    }
}

@media (min-width: 1200px) {
    .card-columns {
        column-count: 5;
    }
}

.card {
    border-radius: 0;
    border: 1px solid gray;
	transition: all 0.3s ease-in-out;
	margin: 0.75rem;
}

.clickable:hover {
    transform: scale(0.98);
}

.card-img-top {
	/* padding: 3px; */
    width:100%;
	border-radius: 0;
    max-width:max-content;
    -webkit-filter: grayscale(100%); /*Safari 6.0 - 9.0*/
    filter: grayscale(100%);
}

.card-title {
	font-size: 20px;
}

.card-text {
	font-size: 14px;
	text-align: justify;
}

p,h1,h2,h3,h4,h5,h6,a {
	color: gray;
	overflow-wrap: break-word;
	text-decoration: none;
  	word-wrap: break-word;
}

div.header {
	border-bottom: 1px solid gray;
	padding: 0;
	text-align: center;
	width: 100%;
}

div.footer {
	border-top: 1px solid gray;
	padding: 15px;
	text-align: center;
	width: 100%;
	height: 50px;
	bottom: 0;
}

ul.menubar {
	margin: 0;
	overflow: auto;
	padding: 0;
	white-space: nowrap;
}

ul.menubar li {
    border-right: 1px solid gray;
    display: inline-block;
    justify-content: center;
}

ul.menubar li:last-child {
    border-right: none;
}

ul.menubar li,h1{
    color: gray;
    display: inline-block;
    padding: 0px 20px;
    text-align: center;
    -moz-transition:color .2s  ;
    -o-transition:color .2s  ;
    -webkit-transition:color .2s  ;
}

ul.menubar li a:hover {
    color: black;
}